/*@import "_assets/fonts/icons.css";*/
/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*:focus {
  outline: 0;
}
/* */
/* start: general reusable rules */
/* LESS variables */
/* generic colors */
/* site-specific colors */
/* beize */
/* dark blue */
/* bright magenta *//* *//* width/spacing/fonts */
/* in % */
/* in % */
/* *//* */
/* shadows, corners, transparency */
/* */
/* text */
.icons {
  font-family: "icons";
}
.text_font {
  font-family: "Roboto", Georgia;
  letter-spacing: 0px;
}
.display_font {
  font-family: "Roboto", Arial;
}
.thin {
  font-weight: 100;
  font-style: normal;
}
.light {
  font-weight: 200;
  font-style: normal;
}
.book {
  font-weight: 300;
  font-style: normal;
}
.normal {
  font-weight: 400;
  font-style: normal;
}
.medium {
  font-weight: 500;
  font-style: normal;
}
.bold {
  font-weight: 700;
  font-style: normal;
}
.black {
  font-weight: 900;
  font-style: normal;
}
.italic {
  font-style: italic;
}
.underlined {
  text-decoration: underline;
}
.notUnderlined {
  text-decoration: none;
}
.centeredText {
  text-align: center;
}
.rightText {
  text-align: right;
}
.leftText {
  text-align: left;
}
.capitalized {
  text-transform: uppercase;
}
.capitalizedSingle {
  text-transform: capitalize;
}
.regCapitalized {
  text-transform: none;
}
.doubleTextCol {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 50px;
  -webkit-column-gap: 50px;
  column-gap: 50px;
}
.singleTextCol {
  -moz-column-count: 1!important;
  -webkit-column-count: 1!important;
  column-count: 1!important;
  -moz-column-gap: 0!important;
  -webkit-column-gap: 0!important;
  column-gap: 0!important;
}
/* */
/* positioning */
.clear {
  clear: both;
  float: none;
  display: block;
}
.left {
  float: left;
}
.right {
  float: right;
}
.centered {
  margin: 0 auto;
}
.leftSpace {
  margin: 0 0 0 5px;
}
.rightSpace {
  margin: 0 5px 0 0;
}
.topSpace {
  margin: 5px 0 0 0;
}
.bottomSpace {
  margin: 0 0 15px 0;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.noBorder {
  border: 0;
}
/* */
/* behaviour */
.active {
  cursor: pointer!important;
}
.inactive {
  cursor: default!important;
}
.invisible {
  display: none;
}
.completelyHidden {
  display: none;
  visibility: hidden;
}
.nonSelective {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* */
/* buttons */
.button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 20px;
  margin: 0 5px 0 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #45495f;
  color: #f74d4d;
  cursor: pointer!important;
  text-transform: uppercase;
  font-size: 0.6875em;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background: #dbd8d2;
  color: #45495f;
}
.button:active {
  background: #dbd8d2;
  -webkit-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#999999, Positive='true');
}
.button.red {
  background: #ff0000;
}
.button.red:hover {
  background: #45495f;
}
.button.gray {
  background: #dbd8d2;
  color: #222222;
}
.button.gray:hover {
  background: #f74d4d;
  color: #ffffff;
}
.button.gray:active {
  background: #dbd8d2;
  -webkit-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#999999, Positive='true');
}
.button.disabled {
  cursor: default!important;
  background: #999999;
  color: #777777;
}
.button.disabled:hover {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#999999, Positive='true');
}
.button.leftSided {
  float: left;
}
.button.small {
  padding: 5px 20px;
}
.button.selected {
  background: #ffffee;
  color: #222222;
}
.button.selected:hover {
  background: #ff0000;
  color: #ffffff;
}
/* */
/* grid */.col_1_2,
.col_1_3,
.col_2_3,
.col_1_4,
.col_2_4,
.col_3_4,
.col_1_5,
.col_2_5,
.col_3_5,
.col_4_5,
.col_1_6,
.col_2_6,
.col_3_6,
.col_4_6,
.col_5_6 {
  float: left;
  background: none;
  padding: 0%;
  margin: 0 0% 0 0;
}
.col_1_1 {
  width: 100%;
  margin: 0;
  clear: both;
  padding: 0;
}
.col_1_2,
.col_2_4,
.col_3_6 {
  width: 50%;
}
.col_1_3,
.col_2_6 {
  width: 33.333333333333336%;
}
.col_2_3,
.col_4_6 {
  width: 66.66666666666666%;
}
.col_1_4 {
  width: 25%;
}
.col_3_4 {
  width: 75%;
}
.col_1_5 {
  width: 20%;
}
.col_2_5 {
  width: 40%;
}
.col_3_5 {
  width: 60%;
}
.col_4_5 {
  width: 80%;
}
.col_1_6 {
  width: 16.666666666666668%;
}
.col_5_6 {
  width: 83.33333333333331%;
}
.last {
  margin: 0!important;
}
/* */
/* end: general reusable rules */
/* tag rules */
*:focus {
  outline: 0;
}
html,
body {
  width: 100%;
  min-height: 100%;
  font-family: "Roboto", Georgia;
  letter-spacing: 0px;
}
body {
  background: #b9b6b0;
}
div {
  color: #222222;
}
b {
  font-weight: 700;
  font-style: normal;
}
i {
  font-style: italic;
}
em {
  font-weight: 500;
  font-style: normal;
}
strong {
  font-weight: 900;
  font-style: normal;
}
del {
  color: #ff0000;
}
h1 {
  font-size: 2em;
  font-weight: 200;
  font-style: normal;
  position: relative;
  line-height: 1;
  padding: 25px;
}
h2 {
  font-size: 1.75em;
  font-weight: 200;
  font-style: normal;
  line-height: 1;
  margin: 0 0 25px;
}
h3 {
  font-size: 1.25em;
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
  padding: 25px 0;
}
hr {
  clear: both;
  float: none;
  display: block;
  border: 0;
  border-top: dotted 1px #999999;
  margin: 0 auto;
  width: 95%;
}
hr.full {
  width: 100%;
}
p + p {
  text-indent: 50px;
}
img.full {
  width: 100%;
  margin: 0 0 -10px;
}
a {
  color: #f74d4d;
  text-decoration: none;
  cursor: pointer!important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a.selected {
  color: #45495f;
  text-decoration: none;
}
a.footer:not(:last-child):after {
  color: #ffffff;
  content: "/";
  margin: 0 0 0 5px;
}
a.footer:hover {
  color: #ffffff;
}
::selection {
  background: #f74d4d;
  color: #ffffff;
}
::-moz-selection {
  background: #f74d4d;
  color: #ffffff;
}
/* */
/* custom objects */
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  background: #b9b6b0;
  overflow: hidden;
}
#dhtmltooltip {
  position: absolute;
  max-width: 350px;
  background: #ffffee !important;
  color: #222222;
  padding: 10px;
  visibility: hidden;
  z-index: 5500;
  font-size: 0.875em;
  margin: 4px;
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  opacity: 0.95;
  filter: alpha(opacity=95);
}
#container {
  width: 1024px;
  height: 768px;
  background: #222222;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#999999, Positive='true');
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 50;
}
#container .screen {
  width: 100%;
  height: 100%;
  background: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=95);
  -webkit-transition: opacity .2s ease-in-out, -webkit-opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out, -webkit-opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, -webkit-opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out, -webkit-opacity .2s ease-in-out;
  /* svg styles */

  /* */

}
#container .screen.hidden {
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=95);
  z-index: 0;
}
#container .screen#level_1,
#container .screen#level_2 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#container .screen#level_1 img,
#container .screen#level_2 img,
#container .screen#level_1 svg,
#container .screen#level_2 svg {
  position: absolute;
  top: 0;
  left: 0;
}
#container .screenlevel_2 {
  position: absolute;
  top: 0;
  left: 100%;
}
#container .screenlevel_2.hidden {
  position: absolute;
  top: 0;
  left: 100%;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=95);
}
#container .screen#level_1.playing {
  position: absolute;
  top: 0;
  left: -100%;
}
#container .screen#level_2.playing {
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=95);
}
#container .screen#level_2 #game_board {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#container .screen#level_2 #positions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
#container .screen#level_2 #positions .position {
  cursor: pointer!important;
  width: 70px;
  height: 120px;
  border: dotted 2px #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container .screen#level_2 #positions .position:hover {
  border: dotted 2px #ff0000;
}
#container .screen#level_2 #positions .position .figure {
  cursor: pointer!important;
  width: 70px;
  height: 120px;
  margin: 0 0 10px;
}
#container .screen#level_2 #positions .position #f1 {
  background: url("../img/f1.jpg") -70px 0;
}
#container .screen#level_2 #positions .position #f2 {
  background: url("../img/f2.jpg") -70px 0;
}
#container .screen#level_2 #positions .position #f3 {
  background: url("../img/f3.jpg") -70px 0;
}
#container .screen#level_2 #positions .position #f4 {
  background: url("../img/f4.jpg") -70px 0;
}
#container .screen#level_2 #positions .position #f5 {
  background: url("../img/f5.jpg") -70px 0;
}
#container .screen#level_2 #positions .position #f6 {
  background: url("../img/f6.jpg") -70px 0;
}
#container .screen#level_2 #positions #pos6 {
  position: absolute;
  top: 130px;
  left: 0;
}
#container .screen#level_2 #positions #pos5 {
  position: absolute;
  top: 200px;
  left: 130px;
}
#container .screen#level_2 #positions #pos4 {
  position: absolute;
  top: 280px;
  left: 260px;
}
#container .screen#level_2 #positions #pos2 {
  position: absolute;
  top: 390px;
  left: 390px;
}
#container .screen#level_2 #positions #pos3 {
  position: absolute;
  top: 460px;
  left: 520px;
}
#container .screen#level_2 #positions #pos1 {
  position: absolute;
  top: 550px;
  left: 650px;
}
#container .screen#level_2 #figures {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
}
#container .screen#level_2 #figures .figure {
  cursor: pointer!important;
  width: 70px;
  height: 120px;
  margin: 0 0 10px;
}
#container .screen#level_2 #figures #f1 {
  background: url("../img/f1.jpg") 0 0;
}
#container .screen#level_2 #figures #f2 {
  background: url("../img/f2.jpg") 0 0;
}
#container .screen#level_2 #figures #f3 {
  background: url("../img/f3.jpg") 0 0;
}
#container .screen#level_2 #figures #f4 {
  background: url("../img/f4.jpg") 0 0;
}
#container .screen#level_2 #figures #f5 {
  background: url("../img/f5.jpg") 0 0;
}
#container .screen#level_2 #figures #f6 {
  background: url("../img/f6.jpg") 0 0;
}
#container .screen#level_2 #check_figures_positions_button {
  position: absolute;
  top: 25px;
  left: 25px;
}
#container .screen .text {
  padding: 25px;
  font-size: 1em;
}
#container .screen #start_game {
  margin: 0 0 0 25px;
}
#container .screen polygon,
#container .screen path {
  cursor: pointer;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=95);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container .screen polygon#level_1_area_1,
#container .screen path#level_1_area_1 {
  fill: #0099ff;
}
#container .screen polygon#level_1_area_2,
#container .screen path#level_1_area_2 {
  fill: #ff0000;
}
#container .screen polygon#level_1_area_3,
#container .screen path#level_1_area_3 {
  fill: #00cc66;
}
#container .screen polygon:hover,
#container .screen path:hover,
#container .screen polygon:focus,
#container .screen path:focus {
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  filter: alpha(opacity=95);
}
#container .screen polygon.selected,
#container .screen path.selected {
  fill: #ffff00;
  -moz-opacity: 0.5 !important;
  -khtml-opacity: 0.5 !important;
  opacity: 0.5 !important;
  filter: alpha(opacity=95) !important;
}
#container .screen polygon.wrong_tool,
#container .screen path.wrong_tool {
  fill: #ff0000;
  -moz-opacity: 0.5 !important;
  -khtml-opacity: 0.5 !important;
  opacity: 0.5 !important;
  filter: alpha(opacity=95) !important;
}
#container #calendar {
  width: 920px;
  height: 650px;
  margin: 0 auto;
  position: relative;
  top: -680px;
  left: 0;
  z-index: 2000;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #calendar #calendar_container {
  position: relative;
  top: 0;
  left: 25px;
  z-index: 200;
}
#container #calendar #calendar_container #calendar_days {
  height: 50px;
  background: #eeeeee;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 25px;
  left: -50px;
  z-index: 1000;
}
#container #calendar #calendar_container #calendar_days .calendar_day_tab {
  cursor: pointer!important;
  background: #eeeeee;
  width: 50px;
  text-align: center;
  padding: 13px 0;
  color: #222222;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #calendar #calendar_container #calendar_days .calendar_day_tab:nth-child(2n) {
  background: #dddddd;
}
#container #calendar #calendar_container #calendar_days .calendar_day_tab.selected {
  font-weight: 700;
  font-style: normal;
}
#container #calendar #calendar_container #calendar_days .calendar_day_tab:hover,
#container #calendar #calendar_container #calendar_days .calendar_day_tab.selected {
  background: #ffffff;
}
#container #calendar #calendar_container #calendar_content {
  background: #ffffff;
  width: 920px;
  height: 650px;
  overflow: hidden;
  position: relative;
  z-index: 100 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#999999, Positive='true');
}
#container #calendar #calendar_container #calendar_content .calendar_day {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}
#container #calendar #calendar_container #calendar_content .calendar_day .left_page {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  width: 40%;
  height: 100%;
  display: inline-block;
  overflow-y: auto;
  padding: 0 5% 0;
  line-height: 1.5;
}
#container #calendar #calendar_container #calendar_content .calendar_day .left_page h2 {
  padding: 25px 0 0;
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  color: #ff6600;
}
#container #calendar #calendar_container #calendar_content .calendar_day .right_page {
  position: absolute;
  top: 0;
  left: 50%;
  border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  width: 40%;
  height: 90%;
  display: inline-block;
  background: #eeeeee;
  padding: 5%;
}
#container #calendar #calendar_container #calendar_content .calendar_day .right_page .day_bg {
  width: 95%;
  height: 92.5%;
  margin: 2.5% auto;
  background-repeat: no-repeat;
  background-size: cover;
}
#container #calendar #calendar_container #calendar_content .calendar_day.hidden {
  position: absolute;
  top: -105%;
  left: 0;
}
#container #calendar #calendar_container .close_button {
  cursor: pointer!important;
  position: absolute;
  top: -12px;
  right: -12px;
  z-index: 1500;
  width: 25px;
  height: 25px;
  text-align: center;
  background: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #calendar #calendar_container .close_button:hover {
  background: #222222;
  color: #ffffff;
}
#container #calendar #calendar_handle {
  cursor: pointer!important;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #eeeeee;
  font-size: 0.8125em;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  text-align: center;
  padding: 15px 25px;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: 60px;
  z-index: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #calendar #calendar_handle:after {
  content: "\25BE";
  background: #444444;
  text-align: center;
  padding: 4px 10px 6px;
  position: relative;
  top: -1px;
  left: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 0 0 0 25px;
  font-size: 1.125em;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #calendar #calendar_handle:hover {
  background: #dddddd;
}
#container #calendar #calendar_handle:hover:after {
  background: #00cc66;
}
#container #calendar.open {
  position: relative;
  top: 25px;
  left: 0;
}
#container #game_button,
#container #calendar_button {
  position: absolute;
  bottom: 24px;
  left: 145px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  font-size: 1.25em;
  line-height: 0;
  z-index: 1000;
  width: 46px;
  height: 27px;
  padding: 23px 2px 0;
  background: #45495f;
  color: #f74d4d;
  cursor: pointer!important;
  font-weight: 700;
  font-style: normal;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #game_button:hover,
#container #calendar_button:hover {
  background: #dbd8d2;
  color: #45495f;
}
#container #game_button:active,
#container #calendar_button:active {
  background: #dbd8d2;
  -webkit-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#999999, Positive='true');
}
#container #game_button.disabled,
#container #calendar_button.disabled {
  cursor: default!important;
  background: #aaaaaa;
  color: #888888;
}
#container #game_button.disabled:hover,
#container #calendar_button.disabled:hover {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#999999, Positive='true');
}
#container #game_button.invisible,
#container #calendar_button.invisible {
  display: none !important;
}
#container #game_button {
  background: #00cc66;
  color: #ffffff;
  padding: 25px 0 0 4px;
  height: 25px;
}
#container #game_button.pause {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: #ff6600;
}
#container #game_button.pause:hover {
  color: #ffffff;
  background: #ff0000;
}
#container #play_button_message {
  position: absolute;
  bottom: 30px;
  left: 205px;
  font-size: 0.875em;
  z-index: 1000;
  display: inline-block;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=95);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 10px;
  background: #00cc66;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
}
#container #play_button_message.hidden {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=95);
}
#container #calendar_button {
  position: absolute;
  bottom: 24px;
  left: 85px;
}
#container #help {
  cursor: pointer!important;
  background: #ffffff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 5000;
  padding: 25px;
  width: 924px;
  height: 668px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#999999, Positive='true');
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #help:hover {
  background: #ffffff;
}
#container #help.hidden {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 50px;
  height: 27px;
  padding: 13px 0 10px;
}
#container #help.hidden:hover {
  background: #00cc66;
  color: #ffffff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
#container #help .close_button {
  cursor: pointer!important;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 25px;
  height: 25px;
  text-align: center;
  background: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #help .close_button:hover {
  background: #222222;
  color: #ffffff;
}
#container #popup {
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-image: url("../img/trans.png");
}
#container #popup #message_container {
  width: 700px;
  min-height: 125px;
  max-height: 600px;
  margin: 125px auto 0;
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#999999, Positive='true');
  padding: 25px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #popup #message_container #message {
  max-height: 450px;
  overflow-y: auto;
  margin: 0 0 25px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #popup #message_container #buttons {
  text-align: center;
}
#container #popup #message_container .close_button {
  cursor: pointer!important;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 25px;
  height: 25px;
  text-align: center;
  background: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #popup #message_container .close_button:hover {
  background: #222222;
  color: #ffffff;
}
#container #popup.down {
  background-image: none;
}
#container #popup.down #message_container {
  min-height: 0;
  margin: 675px auto 0;
  width: 225px;
}
#container #popup.down #message_container #message {
  max-height: 0px;
  margin: 0;
}
#container #popup.down #message_container .close_button {
  background: #00cc66;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#container #popup.down #message_container .close_buttonhover {
  background: #222222;
}
/* */