/*@import "_assets/fonts/icons.css";*/
/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*:focus {
  outline: 0;
}
/* */
/* start: general reusable rules */
/* LESS variables */
/* generic colors */
/* site-specific colors */
/* beize */
/* dark blue */
/* bright magenta *//* *//* width/spacing/fonts */
/* in % */
/* in % */
/* *//* */
/* shadows, corners, transparency */
/* */
/* text */
.icons {
  font-family: "icons";
}
.text_font {
  font-family: "Roboto", Georgia;
  letter-spacing: 0px;
}
.display_font {
  font-family: "Roboto", Arial;
}
.thin {
  font-weight: 100;
  font-style: normal;
}
.light {
  font-weight: 200;
  font-style: normal;
}
.book {
  font-weight: 300;
  font-style: normal;
}
.normal {
  font-weight: 400;
  font-style: normal;
}
.medium {
  font-weight: 500;
  font-style: normal;
}
.bold {
  font-weight: 700;
  font-style: normal;
}
.black {
  font-weight: 900;
  font-style: normal;
}
.italic {
  font-style: italic;
}
.underlined {
  text-decoration: underline;
}
.notUnderlined {
  text-decoration: none;
}
.centeredText {
  text-align: center!important;
}
.rightText {
  text-align: right;
}
.leftText {
  text-align: left;
}
.capitalized {
  text-transform: uppercase;
}
.capitalizedSingle {
  text-transform: capitalize;
}
.regCapitalized {
  text-transform: none;
}
.doubleTextCol {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 50px;
  -webkit-column-gap: 50px;
  column-gap: 50px;
}
.singleTextCol {
  -moz-column-count: 1!important;
  -webkit-column-count: 1!important;
  column-count: 1!important;
  -moz-column-gap: 0!important;
  -webkit-column-gap: 0!important;
  column-gap: 0!important;
}
/* */
/* positioning */
.clear {
  clear: both;
  float: none;
  display: block;
}
.left {
  float: left;
}
.right {
  float: right;
}
.centered {
  margin: 0 auto;
}
.leftSpace {
  margin: 0 0 0 5px;
}
.rightSpace {
  margin: 0 5px 0 0;
}
.topSpace {
  margin: 5px 0 0 0;
}
.bottomSpace {
  margin: 0 0 15px 0;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.noBorder {
  border: 0;
}
/* */
/* behaviour */
.active {
  cursor: pointer!important;
}
.inactive {
  cursor: default!important;
}
.invisible {
  display: none;
}
.completelyHidden {
  display: none;
  visibility: hidden;
}
.nonSelective {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* */
/* buttons */
.button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 20px;
  margin: 0 5px 0 0;
  background: #ff6600;
  color: #ffffff;
  cursor: pointer!important;
  text-transform: uppercase;
  font-size: 0.6875em;
  font-family: "Roboto", Arial;
  font-weight: 700;
  font-style: normal;
  display: inline;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background: #eeeeee;
  color: #ff6600;
}
.button:active {
  background: #eeeeee;
  -webkit-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#999999, Positive='true');
}
.button.big {
  font-size: 0.875em;
}
.button.red {
  background: #ff0000;
}
.button.red:hover {
  background: #45495f;
}
.button.gray {
  background: #dbd8d2;
  color: #222222;
}
.button.gray:hover {
  background: #f74d4d;
  color: #ffffff;
}
.button.gray:active {
  background: #dbd8d2;
  -webkit-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#999999, Positive='true');
}
.button.disabled {
  cursor: default!important;
  background: #aaaaaa;
  color: #888888;
}
.button.disabled:hover {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#999999, Positive='true');
}
.button.leftSided {
  float: left;
}
.button.small {
  padding: 5px 20px;
}
.button.selected {
  background: #ffffee;
  color: #222222;
}
.button.selected:hover {
  background: #ff0000;
  color: #ffffff;
}
/* */
/* grid */.col_1_2,
.col_1_3,
.col_2_3,
.col_1_4,
.col_2_4,
.col_3_4,
.col_1_5,
.col_2_5,
.col_3_5,
.col_4_5,
.col_1_6,
.col_2_6,
.col_3_6,
.col_4_6,
.col_5_6 {
  float: left;
  background: none;
  padding: 0%;
  margin: 0 0% 0 0;
}
.col_1_1 {
  width: 100%;
  margin: 0;
  clear: both;
  padding: 0;
}
.col_1_2,
.col_2_4,
.col_3_6 {
  width: 50%;
}
.col_1_3,
.col_2_6 {
  width: 33.333333333333336%;
}
.col_2_3,
.col_4_6 {
  width: 66.66666666666666%;
}
.col_1_4 {
  width: 25%;
}
.col_3_4 {
  width: 75%;
}
.col_1_5 {
  width: 20%;
}
.col_2_5 {
  width: 40%;
}
.col_3_5 {
  width: 60%;
}
.col_4_5 {
  width: 80%;
}
.col_1_6 {
  width: 16.666666666666668%;
}
.col_5_6 {
  width: 83.33333333333331%;
}
.last {
  margin: 0!important;
}
/* */
/* end: general reusable rules */
/* tag rules */
*:focus {
  outline: 0;
}
html,
body {
  width: 100%;
  min-height: 100%;
  font-family: "Roboto", Georgia;
  letter-spacing: 0px;
}
body {
  background: #b9b6b0;
}
div {
  color: #222222;
}
b {
  font-weight: 700;
  font-style: normal;
}
i {
  font-style: italic;
}
em {
  font-weight: 500;
  font-style: normal;
}
strong {
  font-weight: 900;
  font-style: normal;
}
del {
  color: #ff0000;
}
h1 {
  font-size: 2em;
  font-weight: 200;
  font-style: normal;
  position: relative;
  line-height: 1;
  padding: 25px;
}
h2 {
  font-size: 1.75em;
  font-weight: 200;
  font-style: normal;
  line-height: 1;
  margin: 0 0 25px;
}
h3 {
  font-size: 1.25em;
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
  padding: 25px 0;
}
hr {
  clear: both;
  float: none;
  display: block;
  border: 0;
  border-top: dotted 1px #999999;
  margin: 0 auto;
  width: 95%;
}
hr.full {
  width: 100%;
}
p + p {
  margin: 15px 0 0;
}
img.full {
  width: 100%;
  margin: 0 0 -10px;
}
a {
  color: #f74d4d;
  text-decoration: none;
  cursor: pointer!important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a.selected {
  color: #45495f;
  text-decoration: none;
}
a.footer:not(:last-child):after {
  color: #ffffff;
  content: "/";
  margin: 0 0 0 5px;
}
a.footer:hover {
  color: #ffffff;
}
::selection {
  background: #f74d4d;
  color: #ffffff;
}
::-moz-selection {
  background: #f74d4d;
  color: #ffffff;
}
/* */
/* custom objects */
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  background: #b9b6b0;
  overflow: hidden;
}
#dhtmltooltip {
  position: absolute;
  max-width: 350px;
  background: #ffffee !important;
  color: #222222;
  padding: 10px;
  visibility: hidden;
  z-index: 5500;
  font-size: 0.875em;
  margin: 4px;
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  opacity: 0.95;
  filter: alpha(opacity=95);
}
#container {
  width: 1024px;
  height: 768px;
  background: #222222;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#999999, Positive='true');
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 50;
}
#container .screen {
  width: 100%;
  height: 100%;
  background: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=95);
  -webkit-transition: opacity .2s ease-in-out, -webkit-opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out, -webkit-opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, -webkit-opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out, -webkit-opacity .2s ease-in-out;
}
#container .screen.hidden {
  position: absolute;
  top: 100%;
  left: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=95);
}
#container .screen .text {
  padding: 25px;
  font-size: 1em;
}
#container .screen #start_game {
  margin: 0 0 0 25px;
}
#container .screen#init {
  background-image: url("../img/all_vases.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
#container .screen #intro {
  width: 910px;
  height: 645px;
  position: absolute;
  top: 50px;
  left: 57px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-image: url("../img/intro_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#container .screen #intro .intro_page {
  width: 90%;
  height: 95%;
  margin: 2.5% auto 2.5%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center!important;
}
#container .screen #intro .intro_page p {
  text-align: left;
}
#container .screen #intro .intro_page#intro_page_1 img {
  margin: 130px auto 100px;
  height: 200px;
}
#container .screen #intro .intro_page#intro_page_2 hr {
  border: 0px;
  border-top: dashed 1px #999999;
  width: 100%;
  margin: 25px 0;
}
#container .screen #intro .intro_page#intro_page_2 i {
  color: #ff6600;
}
#container .screen #intro .intro_page#intro_page_2 #start_game {
  margin: 0 auto;
}
#container .screen #intro.instructions .intro_page {
  position: relative;
  top: -100%;
  left: 0;
}
#container .screen .vas {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #eeeeee;
}
#container .screen .vas .final_vas,
#container .screen .vas .empty_vas {
  z-index: 50;
}
#container .screen .vas .position {
  position: relative;
  z-index: 100;
}
#container .screen .vas .position .figure {
  cursor: pointer!important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 200;
}
#container .screen .figures {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background: #dddddd;
}
#container .screen .figures .figure {
  cursor: pointer!important;
  position: relative;
  z-index: 200;
}
#container .screen .figures .figure .speech {
  display: none;
}
#container .screen .figures .vas_caption {
  text-align: left;
  position: absolute;
  top: 75px;
  left: 50px;
  width: 75%;
}
#container .screen .figures .vas_check_button {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
#container .screen .figures .vas_check_button.invisible {
  display: none;
}
#container .screen .figures .vas_hint {
  cursor: pointer!important;
  position: absolute;
  top: 25px;
  right: 110px;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  padding: 15px 20px;
  background: #ffffff;
  color: #222222;
}
#container .screen .figures .vas_hint:hover {
  color: #ff6600;
}
#container .screen .figures .vas_hint:active {
  background: #ff6600;
  color: #ffffff;
}
#container .screen#level_1 #level_1_final_vas,
#container .screen#level_1 #level_1_empty_vas {
  position: absolute;
  top: 50px;
  left: 25px;
  z-index: 50;
}
#container .screen#level_1 #level_1_f_1 {
  width: 174px;
  height: 288px;
  background-image: url('../img/level_1/f_1.png');
  background-repeat: no-repeat;
}
#container .screen#level_1 #level_1_f_1 .speech {
  position: absolute;
  top: 150px;
  left: -300px;
}
#container .screen#level_1 #level_1_f_2 {
  width: 198px;
  height: 295px;
  background-image: url('../img/level_1/f_2.png');
  background-repeat: no-repeat;
}
#container .screen#level_1 #level_1_f_2 .speech {
  position: absolute;
  top: 75px;
  left: -300px;
}
#container .screen#level_1 #level_1_f_3 {
  width: 118px;
  height: 280px;
  background-image: url('../img/level_1/f_3.png');
  background-repeat: no-repeat;
}
#container .screen#level_1 #level_1_f_3 .speech {
  position: absolute;
  top: 50px;
  left: 120px;
}
#container .screen#level_1 #level_1_pos_1 {
  position: absolute;
  top: 242px;
  left: 47px;
  width: 174px;
  height: 288px;
}
#container .screen#level_1 #level_1_pos_2 {
  position: absolute;
  top: 247px;
  left: 136px;
  width: 198px;
  height: 295px;
}
#container .screen#level_1 #level_1_pos_3 {
  position: absolute;
  top: 261px;
  left: 317px;
  width: 118px;
  height: 280px;
}
#container .screen#level_2 #level_2_final_vas,
#container .screen#level_2 #level_2_empty_vas {
  position: absolute;
  top: 50px;
  left: 40px;
  z-index: 50;
}
#container .screen#level_2 #level_2_f_1 {
  width: 158px;
  height: 300px;
  background-image: url('../img/level_2/f_1.png');
  background-repeat: no-repeat;
}
#container .screen#level_2 #level_2_f_1 .speech {
  position: absolute;
  top: 100px;
  left: -300px;
}
#container .screen#level_2 #level_2_f_2 {
  width: 203px;
  height: 299px;
  background-image: url('../img/level_2/f_2.png');
  background-repeat: no-repeat;
}
#container .screen#level_2 #level_2_f_2 .speech {
  position: absolute;
  top: 75px;
  left: -300px;
}
#container .screen#level_2 #level_2_pos_1 {
  position: absolute;
  top: 258px;
  left: 72px;
  width: 158px;
  height: 300px;
}
#container .screen#level_2 #level_2_pos_2 {
  position: absolute;
  top: 264px;
  left: 220px;
  width: 203px;
  height: 299px;
}
#container .screen#level_3 #level_3_final_vas,
#container .screen#level_3 #level_3_empty_vas {
  position: absolute;
  top: 50px;
  left: 14px;
  z-index: 50;
}
#container .screen#level_3 #level_3_f_1 {
  width: 70px;
  height: 244px;
  background-image: url('../img/level_3/f_1.png');
  background-repeat: no-repeat;
}
#container .screen#level_3 #level_3_f_1 .speech {
  position: absolute;
  top: 100px;
  left: -300px;
}
#container .screen#level_3 #level_3_f_2 {
  width: 112px;
  height: 181px;
  background-image: url('../img/level_3/f_2.png');
  background-repeat: no-repeat;
}
#container .screen#level_3 #level_3_f_2 .speech {
  position: absolute;
  top: 25px;
  left: -275px;
}
#container .screen#level_3 #level_3_f_3 {
  width: 148px;
  height: 261px;
  background-image: url('../img/level_3/f_3.png');
  background-repeat: no-repeat;
}
#container .screen#level_3 #level_3_f_3 .speech {
  position: absolute;
  top: 25px;
  left: -300px;
}
#container .screen#level_3 #level_3_f_4 {
  width: 89px;
  height: 214px;
  background-image: url('../img/level_3/f_4.png');
  background-repeat: no-repeat;
}
#container .screen#level_3 #level_3_f_4 .speech {
  position: absolute;
  top: 50px;
  left: -290px;
}
#container .screen#level_3 #level_3_pos_1 {
  position: absolute;
  top: 298px;
  left: 72px;
  width: 70px;
  height: 244px;
}
#container .screen#level_3 #level_3_pos_2 {
  position: absolute;
  top: 363px;
  left: 116px;
  width: 112px;
  height: 181px;
}
#container .screen#level_3 #level_3_pos_3 {
  position: absolute;
  top: 286px;
  left: 166px;
  width: 148px;
  height: 261px;
}
#container .screen#level_3 #level_3_pos_4 {
  position: absolute;
  top: 326px;
  left: 359px;
  width: 89px;
  height: 214px;
}
#container .screen#level_4 #level_4_final_vas,
#container .screen#level_4 #level_4_empty_vas {
  position: absolute;
  top: 175px;
  left: 15px;
  z-index: 50;
}
#container .screen#level_4 #level_4_f_1 {
  width: 96px;
  height: 208px;
  background-image: url('../img/level_4/f_1.png');
  background-repeat: no-repeat;
}
#container .screen#level_4 #level_4_f_1 .speech {
  position: absolute;
  top: 100px;
  left: -300px;
}
#container .screen#level_4 #level_4_f_2 {
  width: 152px;
  height: 204px;
  background-image: url('../img/level_4/f_2.png');
  background-repeat: no-repeat;
}
#container .screen#level_4 #level_4_f_2 .speech {
  position: absolute;
  top: 25px;
  left: 125px;
}
#container .screen#level_4 #level_4_f_3 {
  width: 133px;
  height: 164px;
  background-image: url('../img/level_4/f_3.png');
  background-repeat: no-repeat;
}
#container .screen#level_4 #level_4_f_3 .speech {
  position: absolute;
  top: 25px;
  left: 150px;
}
#container .screen#level_4 #level_4_f_4 {
  width: 146px;
  height: 229px;
  background-image: url('../img/level_4/f_4.png');
  background-repeat: no-repeat;
}
#container .screen#level_4 #level_4_f_4 .speech {
  position: absolute;
  top: 30px;
  left: -285px;
}
#container .screen#level_4 #level_4_pos_1 {
  position: absolute;
  top: 339px;
  left: 86px;
  width: 96px;
  height: 208px;
}
#container .screen#level_4 #level_4_pos_2 {
  position: absolute;
  top: 346px;
  left: 148px;
  width: 152px;
  height: 204px;
}
#container .screen#level_4 #level_4_pos_3 {
  position: absolute;
  top: 392px;
  left: 283px;
  width: 133px;
  height: 164px;
}
#container .screen#level_4 #level_4_pos_4 {
  position: absolute;
  top: 324px;
  left: 328px;
  width: 146px;
  height: 229px;
}
#container .screen#level_5 #level_5_final_vas,
#container .screen#level_5 #level_5_empty_vas {
  position: absolute;
  top: 175px;
  left: 15px;
  z-index: 50;
}
#container .screen#level_5 #level_5_f_1 {
  width: 140px;
  height: 199px;
  background-image: url('../img/level_5/f_1.png');
  background-repeat: no-repeat;
}
#container .screen#level_5 #level_5_f_1 .speech {
  position: absolute;
  top: 0px;
  left: -300px;
}
#container .screen#level_5 #level_5_f_2 {
  width: 166px;
  height: 203px;
  background-image: url('../img/level_5/f_2.png');
  background-repeat: no-repeat;
}
#container .screen#level_5 #level_5_f_2 .speech {
  position: absolute;
  top: 0px;
  left: -300px;
}
#container .screen#level_5 #level_5_f_3 {
  width: 147px;
  height: 190px;
  background-image: url('../img/level_5/f_3.png');
  background-repeat: no-repeat;
}
#container .screen#level_5 #level_5_f_3 .speech {
  position: absolute;
  top: 25px;
  left: 120px;
}
#container .screen#level_5 #level_5_pos_1 {
  position: absolute;
  top: 348px;
  left: 70px;
  width: 140px;
  height: 199px;
}
#container .screen#level_5 #level_5_pos_2 {
  position: absolute;
  top: 356px;
  left: 152px;
  width: 166px;
  height: 203px;
}
#container .screen#level_5 #level_5_pos_3 {
  position: absolute;
  top: 369px;
  left: 259px;
  width: 147px;
  height: 190px;
}
#container #clock {
  position: absolute;
  top: 25px;
  right: 25px;
  background: #eeeeee;
  padding: 15px 20px;
  font-size: 1.125em;
  font-weight: 700;
  font-style: normal;
}
#container #clock.last_ten {
  color: #ff0000;
}
#container #help {
  cursor: pointer!important;
  background: #ffffff;
  z-index: 1000;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  position: absolute;
  bottom: 25px;
  left: 25px;
  padding: 25px;
  width: 924px;
  height: 668px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#999999, Positive='true');
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #help:hover {
  background: #ffffff;
}
#container #help.hidden {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: #ff6600;
  color: #ffffff;
  text-align: center!important;
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 50px;
  height: 27px;
  padding: 13px 0 10px;
}
#container #help.hidden:hover {
  background: #ffffff;
  color: #222222;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
#container #help .close_button {
  cursor: pointer!important;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  font-size: 1.4375em;
  text-align: center!important;
  background: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #help .close_button:hover {
  background: #222222;
  color: #ffffff;
}
#container #popup {
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-image: url("../img/trans.png");
}
#container #popup #message_container {
  width: 740px;
  height: 500px;
  background-image: url("../img/popup_bg.png");
  background-repeat: no-repeat;
  margin: 120px auto 0;
  position: relative;
  padding: 50px 25px 25px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #popup #message_container #message {
  width: 90%;
  max-height: 400px;
  overflow-y: auto;
  margin: 0 auto 25px;
  text-align: center!important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #popup #message_container #message p {
  text-align: left;
}
#container #popup #message_container #message img {
  margin: 10px auto;
}
#container #popup #message_container #message i {
  color: #ff6600;
}
#container #popup #message_container #buttons {
  text-align: center!important;
}
#container #popup #message_container .close_button {
  cursor: pointer!important;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 35px;
  height: 35px;
  font-size: 1.4375em;
  text-align: center!important;
  background: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #popup #message_container .close_button:hover {
  background: #222222;
  color: #ffffff;
}
#container #popup.down {
  background-image: none;
}
#container #popup.down #message_container {
  background-size: 100% 100%;
  height: 50px;
  margin: 600px auto 0;
  width: 225px;
}
#container #popup.down #message_container #message {
  max-height: 0px;
  margin: 0;
}
#container #popup.down #message_container #buttons {
  margin: 0;
}
#container #popup.down #message_container .close_button {
  background: #00cc66;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#container #popup.down #message_container .close_buttonhover {
  background: #222222;
}
/* */