/*@import "_assets/fonts/icons.css";*/
/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*:focus {
  outline: 0;
}
/* */
/* start: general reusable rules */
/* LESS variables */
/* generic colors */
/* site-specific colors */
/* beize */
/* dark blue */
/* bright magenta *//* *//* width/spacing/fonts */
/* in % */
/* in % */
/* *//* */
/* shadows, corners, transparency */
/* */
/* text */
.icons {
  font-family: "icons";
}
.text_font {
  font-family: "Roboto", Georgia;
  letter-spacing: 0px;
}
.display_font {
  font-family: "Roboto", Arial;
}
.thin {
  font-weight: 100;
  font-style: normal;
}
.light {
  font-weight: 200;
  font-style: normal;
}
.book {
  font-weight: 300;
  font-style: normal;
}
.normal {
  font-weight: 400;
  font-style: normal;
}
.medium {
  font-weight: 500;
  font-style: normal;
}
.bold {
  font-weight: 700;
  font-style: normal;
}
.black {
  font-weight: 900;
  font-style: normal;
}
.italic {
  font-style: italic;
}
.underlined {
  text-decoration: underline;
}
.notUnderlined {
  text-decoration: none;
}
.centeredText {
  text-align: center!important;
}
.rightText {
  text-align: right;
}
.leftText {
  text-align: left;
}
.capitalized {
  text-transform: uppercase;
}
.capitalizedSingle {
  text-transform: capitalize;
}
.regCapitalized {
  text-transform: none;
}
.doubleTextCol {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 50px;
  -webkit-column-gap: 50px;
  column-gap: 50px;
}
.singleTextCol {
  -moz-column-count: 1!important;
  -webkit-column-count: 1!important;
  column-count: 1!important;
  -moz-column-gap: 0!important;
  -webkit-column-gap: 0!important;
  column-gap: 0!important;
}
/* */
/* positioning */
.clear {
  clear: both;
  float: none;
  display: block;
}
.left {
  float: left;
}
.right {
  float: right;
}
.centered {
  margin: 0 auto;
}
.leftSpace {
  margin: 0 0 0 5px;
}
.rightSpace {
  margin: 0 5px 0 0;
}
.topSpace {
  margin: 5px 0 0 0;
}
.bottomSpace {
  margin: 0 0 15px 0;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.noBorder {
  border: 0;
}
/* */
/* behaviour */
.active {
  cursor: pointer!important;
}
.inactive {
  cursor: default!important;
}
.invisible {
  display: none!important;
}
.completelyHidden {
  display: none;
  visibility: hidden;
}
.nonSelective {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* */
/* buttons */
.button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 20px;
  margin: 0 5px 0 0;
  background: #ff6600;
  color: #ffffff;
  cursor: pointer!important;
  text-transform: uppercase;
  font-size: 0.6875em;
  font-family: "Roboto", Arial;
  font-weight: 700;
  font-style: normal;
  display: inline;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.button:hover {
  background: #eeeeee;
  color: #ff6600;
}
.button:active {
  background: #eeeeee;
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#999999, Positive='true');
}
.button.big {
  font-size: 0.875em;
}
.button.green {
  background: #00cc66;
  color: #ffffff;
}
.button.green:hover {
  background: #eeeeee;
  color: #222222;
}
.button.red {
  background: #ff0000;
  color: #ffffff;
}
.button.red:hover {
  background: #eeeeee;
  color: #222222;
}
.button.gray {
  background: #dbd8d2;
  color: #222222;
}
.button.gray:hover {
  background: #f74d4d;
  color: #ffffff;
}
.button.gray:active {
  background: #dbd8d2;
  -webkit-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#999999, Positive='true');
}
.button.disabled {
  cursor: default!important;
  background: #bbbbbb;
  color: #999999;
}
.button.disabled:hover {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=-1, Color=#999999, Positive='true');
}
.button.leftSided {
  float: left;
}
.button.small {
  padding: 5px 20px;
}
.button.selected {
  background: #ffffee;
  color: #222222;
}
.button.selected:hover {
  background: #ff0000;
  color: #ffffff;
}
/* */
/* grid */.col_1_2,
.col_1_3,
.col_2_3,
.col_1_4,
.col_2_4,
.col_3_4,
.col_1_5,
.col_2_5,
.col_3_5,
.col_4_5,
.col_1_6,
.col_2_6,
.col_3_6,
.col_4_6,
.col_5_6 {
  float: left;
  background: none;
  padding: 0%;
  margin: 0 0% 0 0;
}
.col_1_1 {
  width: 100%;
  margin: 0;
  clear: both;
  padding: 0;
}
.col_1_2,
.col_2_4,
.col_3_6 {
  width: 50%;
}
.col_1_3,
.col_2_6 {
  width: 33.333333333333336%;
}
.col_2_3,
.col_4_6 {
  width: 66.66666666666666%;
}
.col_1_4 {
  width: 25%;
}
.col_3_4 {
  width: 75%;
}
.col_1_5 {
  width: 20%;
}
.col_2_5 {
  width: 40%;
}
.col_3_5 {
  width: 60%;
}
.col_4_5 {
  width: 80%;
}
.col_1_6 {
  width: 16.666666666666668%;
}
.col_5_6 {
  width: 83.33333333333331%;
}
.last {
  margin: 0!important;
}
/* */
/* end: general reusable rules */
/* tag rules */
*:focus {
  outline: 0;
}
html,
body {
  width: 100%;
  min-height: 100%;
  font-family: "Roboto", Georgia;
  letter-spacing: 0px;
}
body {
  background: #b9b6b0;
}
div {
  color: #222222;
}
b {
  font-weight: 700;
  font-style: normal;
}
i {
  font-style: italic;
}
em {
  font-weight: 500;
  font-style: normal;
}
strong {
  font-weight: 900;
  font-style: normal;
}
del {
  color: #ff0000;
}
h1 {
  font-size: 2em;
  font-weight: 200;
  font-style: normal;
  position: relative;
  line-height: 1;
  padding: 25px;
}
h2 {
  font-size: 1.5em;
  font-weight: 200;
  font-style: normal;
  line-height: 1;
  margin: 0 0 25px;
}
h3 {
  font-size: 1.125em;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  padding: 15px 0 25px;
}
hr {
  clear: both;
  float: none;
  display: block;
  border: 0;
  border-top: dotted 1px #999999;
  margin: 0 auto;
  width: 95%;
}
hr.full {
  width: 100%;
}
p + p {
  margin: 15px 0 0;
}
img.full {
  width: 100%;
  margin: 0 0 -10px;
}
a {
  color: #f74d4d;
  text-decoration: none;
  cursor: pointer!important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a.selected {
  color: #45495f;
  text-decoration: none;
}
a.footer:not(:last-child):after {
  color: #ffffff;
  content: "/";
  margin: 0 0 0 5px;
}
a.footer:hover {
  color: #ffffff;
}
::selection {
  background: #f74d4d;
  color: #ffffff;
}
::-moz-selection {
  background: #f74d4d;
  color: #ffffff;
}
/* */
/* custom objects */
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  background: #b9b6b0;
  overflow: hidden;
  text-align: center!important;
}
#loader img {
  margin: 25% auto 0;
}
#dhtmltooltip {
  position: absolute;
  max-width: 350px;
  background: #ffffee !important;
  color: #222222;
  padding: 10px;
  visibility: hidden;
  z-index: 5500;
  font-size: 0.875em;
  margin: 4px;
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  opacity: 0.95;
  filter: alpha(opacity=95);
}
#container {
  width: 1024px;
  height: 768px;
  background: #999999;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#999999, Positive='true');
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#container .screen {
  width: 100%;
  height: 100%;
  background: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=95);
  -webkit-transition: opacity .3s ease-in-out, -webkit-opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out, -webkit-opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out, -webkit-opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-opacity .3s ease-in-out;
}
#container .screen.hidden {
  position: absolute;
  top: -100%;
  left: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=95);
}
#container .screen#init {
  background-image: url("../img/greece.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
#container .screen #intro {
  width: 910px;
  height: 645px;
  position: absolute;
  top: 50px;
  left: 57px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-image: url("../img/intro_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#container .screen #intro .intro_page {
  width: 90%;
  height: 95%;
  margin: 2.5% auto 2.5%;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center!important;
}
#container .screen #intro .intro_page p {
  text-align: left;
}
#container .screen #intro .intro_page#intro_page_1 {
  position: relative;
}
#container .screen #intro .intro_page#intro_page_1 img:not(.icon) {
  margin: 130px auto 100px;
  height: 200px;
}
#container .screen #intro .intro_page#intro_page_1 #intro_icon_1 {
  position: absolute;
  top: 55px;
  left: 175px;
}
#container .screen #intro .intro_page#intro_page_1 #intro_icon_2 {
  position: absolute;
  top: 315px;
  left: 590px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
#container .screen #intro .intro_page#intro_page_2 hr {
  border: 0px;
  border-top: dashed 1px #999999;
  width: 100%;
  margin: 25px 0;
}
#container .screen #intro .intro_page#intro_page_2 i {
  color: #ff6600;
}
#container .screen #intro.instructions .intro_page {
  position: relative;
  top: -100%;
  left: 0;
}
#container .screen img.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#container .screen .theaters {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
#container .screen .theaters .theater {
  cursor: pointer!important;
  background: #444444;
  width: 25px;
  height: 25px;
  text-align: center!important;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  filter: alpha(opacity=95);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container .screen .theaters .theater:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}
#container .screen .theaters .theater.selected {
  animation: theater_selected 0.5s ease-in-out 0s infinite alternate;
}
#container .screen .theaters .theater.added {
  background: #ff6600;
}
#container .screen .theaters .theater.correct {
  background: #00cc66;
  -webkit-transform: scale(1.35);
  -moz-transform: scale(1.35);
  -o-transform: scale(1.35);
  -ms-transform: scale(1.35);
  transform: scale(1.35);
}
#container .screen .theaters .theater.wrong {
  background: #ff0000;
}
#container .screen .theaters .theater span {
  display: none!important;
}
#container .screen .text {
  padding: 25px;
  font-size: 1em;
}
#container .screen #start_buttons {
  width: 240px;
  margin: 0 auto;
}
#container .screen #start_buttons .start_button {
  cursor: pointer!important;
  float: left;
  margin: 0 10px 0;
  width: 100px;
  height: 100px;
}
#container .screen #start_buttons .start_button img {
  width: 90%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container .screen #start_buttons .start_button:hover img {
  width: 100%;
}
#container .screen .all_correct_theaters {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=95);
}
#container .screen .all_correct_theaters .correct_theater_name {
  background: #ffffee;
  padding: 10px;
  font-size: 0.6875em;
}
#container .screen .all_correct_theaters.opened {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=95);
}
#container #descriptions {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=95);
  position: absolute;
  top: -100%;
  left: -100%;
  z-index: 6000;
  width: 400px;
  height: 648px;
  padding: 25px;
  background-image: url("../img/theater_info_popup_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background:@white; .shadowed(0,2px,5px); .rounded(8px); */
  -webkit-transition: opacity .2s ease-in-out, -webkit-opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out, -webkit-opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, -webkit-opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out, -webkit-opacity .2s ease-in-out;
}
#container #descriptions.open {
  position: absolute;
  top: 35px;
  left: 40px;
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  opacity: 0.95;
  filter: alpha(opacity=95);
}
#container #descriptions #close_descriptions {
  cursor: pointer!important;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  font-size: 1.4375em;
  text-align: center!important;
  background-color: #ff0000;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #descriptions #close_descriptions:hover {
  background-color: #222222;
  color: #ffffff;
}
#container #descriptions #carousel_container {
  width: 400px;
  height: 310px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#container #descriptions #carousel_container #carousel_images {
  width: 100%;
  height: 300px;
  position: relative;
}
#container #descriptions #carousel_container #carousel_images div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=95);
}
#container #descriptions #carousel_container #carousel_images div.visible {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=95);
}
#container #descriptions #theater_title {
  height: 60px;
  text-align: center!important;
}
#container #descriptions #theater_title h3 {
  font-weight: 900;
  font-style: normal;
}
#container #descriptions #theater_description {
  height: 200px;
  overflow-y: auto;
  background: transparent;
  padding: 10px;
}
#container #descriptions #theater_button {
  height: 53px;
  text-align: center!important;
  margin: 25px 0 0;
}
#container #tour_schedule {
  position: absolute;
  top: 35px;
  right: 40px;
  z-index: 200;
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  opacity: 0.95;
  filter: alpha(opacity=95);
  width: 220px;
  height: 375px;
  background-image: url("../img/schedule_bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#container #tour_schedule h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 0.875em;
  color: #ff6600;
  padding: 25px 10px;
  text-align: center!important;
  border-bottom: dotted 1px #ff6600;
}
#container #tour_schedule #tour_theaters {
  padding: 10px;
  height: 260px;
  overflow-y: auto;
}
#container #tour_schedule #tour_theaters .tour_theater {
  cursor: pointer!important;
  font-size: 0.6875em;
  border-bottom: dotted 1px #999999;
  padding: 5px 0;
  text-align: center!important;
}
#container #tour_schedule #tour_theaters .tour_theater:hover,
#container #tour_schedule #tour_theaters .tour_theater.wrong {
  text-decoration: line-through;
  color: #ff0000;
}
#container #tour_schedule #tour_theaters .tour_theater.correct {
  color: #00cc66;
}
#container #tour_schedule #check_schedule {
  position: absolute;
  bottom: -50px;
  left: 0;
  padding: 10px 5%;
  width: 90%;
  text-align: center!important;
}
#container #help {
  cursor: pointer!important;
  background: #ffffff;
  z-index: 1000;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  position: absolute;
  bottom: 25px;
  left: 25px;
  padding: 25px;
  width: 400px;
  height: 668px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#999999, Positive='true');
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #help:hover {
  background: #ffffff;
}
#container #help.hidden {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: #ff6600;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  text-align: center!important;
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 50px;
  height: 27px;
  padding: 13px 0 10px;
}
#container #help.hidden:hover {
  background-color: #222222;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
#container #help .help_content {
  text-align: left;
  font-size: 0.8125em;
}
#container #help .help_content img {
  margin: 0 0 25px;
}
#container #help .help_content ul {
  margin: 25px 0;
  padding: 0;
  list-style-type: none;
}
#container #help .help_content ul li {
  margin: 0 0 5px;
  clear: both;
  float: none;
  display: block;
}
#container #help .help_content ul li img {
  width: 35px;
  background: #999;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 5px;
  vertical-align: middle;
  margin: 0 10px 0 0;
}
#container #help .close_button {
  cursor: pointer!important;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  font-size: 1.4375em;
  text-align: center!important;
  background-color: #ff0000;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #help .close_button:hover {
  background-color: #222222;
}
#container #help .close_button:hover polygon,
#container #help .close_button:hover path,
#container #help .close_button:hover circle {
  fill: #ffffff;
}
#container #popup {
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-image: url("../img/trans.png");
}
#container #popup #message_container {
  width: 740px;
  height: 500px;
  background-image: url("../img/popup_bg.png");
  background-repeat: no-repeat;
  margin: 120px auto 0;
  position: relative;
  padding: 50px 25px 25px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #popup #message_container #message {
  width: 90%;
  max-height: 400px;
  overflow-y: auto;
  margin: 0 auto 25px;
  text-align: center!important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #popup #message_container #message p {
  text-align: left;
}
#container #popup #message_container #message img {
  margin: 10px auto;
}
#container #popup #message_container #message i {
  color: #ff6600;
}
#container #popup #message_container #buttons {
  text-align: center!important;
}
#container #popup #message_container .close_button {
  cursor: pointer!important;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 35px;
  height: 35px;
  font-size: 1.4375em;
  text-align: center!important;
  background-color: #ff0000;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#container #popup #message_container .close_button:hover {
  background-color: #222222;
}
#container #popup.down {
  background-image: none;
}
#container #popup.down #message_container {
  background-size: 100% 100%;
  height: 35px;
  padding: 10px;
  margin: 690px auto 0;
  width: 225px;
}
#container #popup.down #message_container #message {
  max-height: 0px!important;
  margin: 0!important;
}
#container #popup.down #message_container #message * {
  margin: 0!important;
}
#container #popup.down #message_container #buttons {
  margin: 0;
}
#container #popup.down #message_container .close_button {
  background-color: #00cc66;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#container #popup.down #message_container .close_button:hover {
  background-color: #222222;
}
/* */
/* animations */
@-webkit-keyframes theater_selected {
  0% {
    background-color: #444444;
  }
  100% {
    background-color: #ff6600;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
  }
}
@-moz-keyframes theater_selected {
  0% {
    background-color: #444444;
  }
  100% {
    background-color: #ff6600;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
  }
}
@keyframes theater_selected {
  0% {
    background-color: #444444;
  }
  100% {
    background-color: #ff6600;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
  }
}
/* */